body {
    background: #ffffff url("img_wreath.png");no-repeat right top;
    
}

div {
    background-color: lightblue;
}

body {
    background-color: lightblue;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: arial;
    font-size: 20px;
}

img {
   // width: 100px;
}

.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: dotted;
  }

  ol {
    font-size: 50px;
  }